# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
*.whl

# Logs and DBs
*.log
*.sqlite3

# Unit test / coverage
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/
nosetests.xml
coverage.xml

# Static & media (optional: if you handle them separately)
staticfiles/
media/

# IDEs and editors
.vscode/
.idea/
*.swp

# Docker
Dockerfile
.dockerignore

# Git
.git/
.gitignore

# Environment variables
.env
.env.*

# OS metadata
.DS_Store
Thumbs.db